*{
	margin: 0px;
	padding: 0px;
}
a{
	text-decoration: none;
	
}
ul{
	list-style: none;
}
body{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
}
.attr{
	width: 310px;
	height: 500px;
	overflow: hidden;
	float:left;
}
.attr span,.allAttr span{
	float: left;
	margin-left: 5px;
	width: 305px;
	height: 30px;
}
.attr span input,.allAttr span input,.description{
	float: right;
	width:180px;
	float: right;
	font-size: 14px;
}
.submit{
	width:80px;
	height:25px;
	line-height:25px;
	margin: 0px auto;
	background: green;
	border: 1px solid green;
	outline: none;
	color:white;
	display: block;
}
.allAttr{
	width: 310px;
	height: 500px;
	overflow: hidden;
	float:left;
	border: 1px solid red;
	margin-left: 20px;
}
.spSpan{
	height: 100px !important;
}
.description{
	height: 90px !important;
}