*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
ul{
	list-style: none;
}
body{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}
table{
	margin:0px auto;
	width:1200px;
	border-collapse:collapse;
}
thead{
	background:#DFF0D8; 
}
table,th,td{
	border: 1px solid #000000;
}
th,td{
	hight:100px;	
}
td{
	padding-top: 0px;
}

.a{
	width:300px;
}
.b{
	width: 80px;
}
.c{
	width: 40px;
}
.d{
	width: 160px;
}